<!DOCTYPE html>
<html>
    <head>
        <title>About-us</title>
        <link rel="stylesheet" href="/static/css/home.css">
        <script src="/static/js/script.js"></script>
        <link rel="stylesheet" href="/static/css/nav.css">
    </head>
    <body>
        <section>
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li style="float:right"><a href="signup">SignUp</a></li>
                    <li style="float:right"><a href="login">LogIn</a></li>
                </ul> 
            </nav>
        </section>
        <section>
            <img src="/static/images/notebook.jpg" alt="school">
        </section>
        <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
            <div class="container text-center">
                <h1>Welcome</h1>
                <p>
                    Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. 
                    Lorem ipsum har varit standard ända sedan 1500-talet, 
                    när en okänd boksättare tog att antal bokstäver och blandade dem för 
                    att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt 
                    fem århundraden, utan även övergången till elektronisk typografi utan 
                    större förändringar. Det blev allmänt känt på 1960-talet i samband med 
                    lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, 
                    och senare med mjukvaror som Aldus PageMaker.
                </p>
            </div>
        </section>
    </body>
</html>