<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/nav.css">
        <script src="/static/js/script.js"></script>
    </head>
    <body>
        <ul>
            <li><a href="/static/views/home.ejs">Home</a></li>
            <li><a href="/static/views/about.ejs">About</a></li>
            <li><a href="/static/views/contact.ejs">Contact</a></li>
            <li style="float:right"><a href="/static/views/signup.ejs">SignUp</a></li>
            <li style="float:right"><a href="/static/views/login.ejs">LogIn</a></li>
        </ul>          
    </body>
</html>