* {
    box-sizing: border-box;
}
input[type=text] {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: cadetblue;
    border: none;
    padding: 10px 30px;
    margin: 4px 2px;
    cursor: pointer;
    color: #ffffff;
}
select {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select option {
    color: #ccc;
}
h1 {
    color: rgba(53, 53, 218, 0.568);
    text-align: center;
}
.submit {
    padding-left: 50%;
}
 